@mixin font {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

body {
    @include font;
    width: 100%;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
;
}

main {
    grid-area: main;
}

.social-image{
    display: inline-block;
    height: 2rem;
    width: 2rem;

}

.alert-banner {
    display: flex;
    justify-content: space-between;
    background-color: $main-color-dark;
    color: $white;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    align-content: center;
    p:first-child {
        width: 90%;     

    }
    p:last-child {
        width: 10%;

    }
}
