.main-header {
    display: flex;
    justify-content: center;
}

.tab {
    background-color: lighten($gray,20);
    border: $gray solid;
    border-width: 0px 0px 1.5px 1.5px;
    width: 60%;

}

.headline {
    width: 40%;


}

.traffic-header h3{
    width: 30%;
    padding-top: 1em;
}

h3 {
    width: 40%;
    padding-left: 20px;
    text-align: left;

}

ul {
    padding: 0;
    text-align: center;

}

.traffic-nav-link {
    display: inline;
    text-decoration: none;
    padding: 0 1em;
    margin: auto;
    width: 100%;

}

.active {
    background-color: $accent-color-light;
    border-radius: 15px;

}

button[class^=button] {
    color: $white;
    height: 3.5rem;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 1.5em;




}
.button{
    &-primary{
        background-color: $main-color-dark;
        &:hover {
            background-color: darken($main-color-dark,10);
            transition: .5s ease-in;
        }
    }
    &-disabled {
        background-color: $gray;
        &:hover {
            background-color: darken($gray,20);
            transition: .5s ease-in;
        }
    }
}

section {
    border-bottom: 2px solid $gray;
}
section:last-child {
    border: none;
}

div[class^="widget-"] {
    width: 95%;
    margin: auto;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: darken($main-color-dark,20);
}

.widget-container-full{
    .hidden {
    display: none;
}
}

//Media Queries

@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }
    .main-nav {
        flex-direction:column;
        justify-content: flex-start;

    }
    .nav-icon {
        padding: .75em .7em;
    }
    .traffic-header, .social {
        display: flex;
        justify-content: space-between;
        align-content: center;
        }
        
        .traffic-nav {
            padding-top: 1em;
        }
        .main {
            grid-template-columns: 50% ;
        }

        .mobile {
            display: flex;
            width: 100%;
            justify-items: stretch;
            }
            .daily, .mobile-users {
                width: 50%;
            }
            section:last-child {
                border-bottom: 2px solid $gray;
            }
            // .widget-container-full, .widget-container-half {
            //     width: 95vw;
            //     }

            //     .widget-container-full {
            //         width: 90vw;
            //         }
            //         .widget-container-half {
            //         width: 45vw;
            //         }
    }
