@mixin font {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

body {
    @include font;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
;

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
    background-color: rgb(84, 41, 201);
    color: white;
    font-weight: 200;

}

.em {
    font-weight: 300;
    font-style: normal;
}
nav {
    grid-area: nav;

}
main {
    grid-area: main;
}
.alert {
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
    border-right: 1px solid rgb(196, 195, 195);
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    fill: white;

}

.social-image{
    display: inline-block;
    height: 2rem;
    width: 2rem;

}
.heading {
    width: 25%;
    padding-right: 1em;
    font-size: 1.5rem;
    font-weight: 200;

}

.profile-picture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    

}